nav {
  background: orange;
  color: white;
}

header {
  background: indigo;
  color: white;
}

/*
    sass modules
    use the @use rule with the module name in ''
*/
.box1 {
  background: orange;
}

.box2 {
  background: orange;
}

.box3 {
  background: orange;
}
